body, h1, h2, p, ul, li, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f5f5;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
}

nav {
    background-color: #ab8fce;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 2px solid #333;
}

th, td {
    padding: 10px;
    text-align: left;
}

img {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Additional Styles */
h2, h1 u {
    color: #333;
}

imgcontainer {
    text-align: center;
}

p {
    text-align: justify;
}
p {
    margin: 20px 0;
}
p {
    font-weight: normal;
}
p {
    margin-bottom: 20px;
}